/* reset class */
*{margin: 0; padding: 0;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}
ol,ul{list-style:none}
select,input,textarea{padding: 0; margin: 0; outline:0; font-size:100%; vertical-align:baseline;}
blockquote,q{quotes:none}
blockquote{
border-left: 2px solid #75ac7f;
margin: 0 0 15px 30px;
padding: 10px 15px;
font: italic 13px Arial;
}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
sup,sub{line-height:0}
strong,dfn,dl dt,th{font-weight:700}
em,dfn,tfoot{font-style:italic}
h1,h2,h3,h4,h5,h6{font-weight:400; line-height: 1.6em;}
h1{font-size:26px;}
h2{font-size:22px}
h3{font-size:18px}
h4{font-size:16px}
h5{font-size:14px}
h6{font-size:11px;text-transform:uppercase}
a {text-decoration:underline; color: #0072af;}
a:hover {text-decoration:underline; color: #ff0000;}
body{
font-size: 12px;
font-family: Arial,sans-serif;
line-height: 1.5em;
color: #3d4042;
background: #c0e0fe;
background-image: linear-gradient(left , rgb(192,224,254) 14%, rgb(239,248,255) 50%, rgb(192,224,254) 79%);
background-image: -o-linear-gradient(left , rgb(192,224,254) 14%, rgb(239,248,255) 50%, rgb(192,224,254) 79%);
background-image: -moz-linear-gradient(left , rgb(192,224,254) 14%, rgb(239,248,255) 50%, rgb(192,224,254) 79%);
background-image: -webkit-linear-gradient(left , rgb(192,224,254) 14%, rgb(239,248,255) 50%, rgb(192,224,254) 79%);
background-image: -ms-linear-gradient(left , rgb(192,224,254) 14%, rgb(239,248,255) 50%, rgb(192,224,254) 79%);
background-image: -webkit-gradient(
	linear,
	left top,
	right top,
	color-stop(0.14, rgb(192,224,254)),
	color-stop(0.5, rgb(239,248,255)),
	color-stop(0.79, rgb(192,224,254))
);
}
#container{ width: 1160px; margin: 0 auto; padding: 0 20px;}

/* header */
#header{
border-bottom: 1px solid #fefeff;
margin: 0 0 20px 0;
}
    .header{
	height: 109px;
	border-bottom: 1px solid #99cdfd;
	}
	    .logo{
		float: left;
		width: 500px;
		padding: 25px 0 0 0;
		}
		.banner{
		float: right;
		padding: 25px 0 0 0;
		}
div.logo a img{border-radius:7px;}
/* end header */
div.fbpotdotable p{text-align:justify;}

/* menu */
.navholder{
height: 48px;
background: url(images/bgmenu.png) repeat-x;
margin: 0 0 20px 0;
border-radius: 7px;
position: relative;
z-index: 5;
}
    .navholder ul li{
	float: left;
	height: 55px;
	font: 18px Arial;
	position: relative;
	}
    .navholder ul li a{
	color: #fff;
	float: left;
	border-right: 1px solid #60aff2;
	height: 46px;
	line-height: 46px;
	text-decoration: none;
	padding: 0 30px;
	}
	.navholder ul li.first > a{
	border-radius: 7px 0 0 7px;
	}
    .navholder ul li:hover > a{
	color: #fff;
	text-decoration: none;
	background: url(images/lifa.png) repeat-x;
	}	
        .navholder ul ul{
		position: absolute;
		display: none;
		top: 55px;
		left: -1px;
		width: 281px;
		padding: 10px 2px;
	    float: none;
        background: #1b86db;
        background: -webkit-gradient(linear, 0 0, 0 bottom, from(#1b86db), to(#0652ba));
        background: -moz-linear-gradient(#1b86db, #0652ba);
        background: -o-linear-gradient(top,  #1b86db,  #0652ba);
        border-radius: 7px;		
	    }
		    .navholder > ul > li:hover > ul{
			display: block;
			}
        .navholder ul ul li{
	    float: none;
		display: block;
	    height: 30px;
		width: 290px;
	    font: 14px Arial;
	    position: relative;
	    }
        .navholder ul ul li > a{
	    color: #fff;
	    float: none;
		border: none;
		display: block;
	    height: 30px;
		width: 221px;
	    line-height: 30px;
	    text-decoration: none;
	    padding: 0 30px;
	    }
        .navholder ul ul li:hover > a{
	    color: #006ccf;
		background: #e0f0ff;
		box-shadow: inset 0 0 5px #8cbce9;
	    }		
        .navholder ul ul li.soul > a{
		background: url(images/arrw.png) no-repeat 265px center;
	    }
        .navholder ul ul li.soul:hover > a{
		background: #e0f0ff url(images/arrb.png) no-repeat 265px center;
	    }	
            .navholder ul ul ul{
		    position: absolute;
			display: none;
		    top: -6px;
		    left: 285px;
		    width: 285px;
		    padding: 5px 0;
	        float: none;
            background: #0652ba;
            background: -webkit-gradient(linear, 0 0, 0 bottom, from(#0652ba), to(#1b86db));
            background: -moz-linear-gradient(#0652ba, #1b86db);
            background: -o-linear-gradient(top,  #0652ba,  #1b86db);
            border-radius: 7px;		
	        }	
			    .navholder ul  ul > li:hover ul{
			    display: block;
			    }
                .navholder ul ul ul .tarr{
                display: none;
                }
                .navholder ul ul ul li{
	            float: none;
		        display: block;
	            border: none;
				width: 285px;
	            height: 30px;
	            font: 14px Arial;
	            position: relative;
				border-bottom: 1px solid #60aff2;
	            }
                .navholder ul ul ul li.last{
	            border: none;
	            }				
        .navholder ul ul ul li a, .navholder ul ul ul li a:hover{
	    color: #fff!important;
	    float: none;
		display: block;
	    height: 30px;
		overflow: hidden;
	    line-height: 30px;
	    text-decoration: none;
	    padding: 0 20px!important;
		width: 245px!important;
		background: none!important;
		box-shadow: none!important;
	    }

.relat{ position: relative; }
.tarr{
position: absolute;
float: none;
top: -18px;
left: 30px;
width: 19px;
height: 8px; 
background: url(images/tarr.png) no-repeat;
}		
/* end menu */

/* wrap */
#wrap{
position: relative;
z-index: 1;
background: #fff;
border-radius: 7px;
padding: 30px 20px 40px 20px;
}
/* end wrap */

#content{
position: relative;
z-index: 10;
float: left;
width: 790px;
}

/* page */
.breadcrumb{
margin: -15px 0 20px 0;
font: 12px Arial;
color: #6a6e71;
}
    .breadcrumb ul li{
	display: inline;
	margin: 0 5px 0 0;
	}
	    .breadcrumb ul li a{
		padding: 0 0 0 5px;
		}
.titlepage{
color: #0072af;
font: 24px Arial;
margin: 0 0 30px 0;
}
.titlepageline{
width: 778px;
color: #0072af;
font: 24px Arial;
padding: 0 0 5px 0;
margin: 0 0 20px 0;
border-bottom: 1px solid #e5eaed;
}
.titlesingle{
color: #0072af;
font: 24px Arial;
padding: 0 0 5px 0;
margin: 0 0 5px 0;
border-bottom: 1px solid #e5eaed;
}
.contentpage p{
margin: 0 0 20px 0;
}
.contentpage ul{
margin: 0 0 20px 0;
}
.contentpage ul li{
 
}
.contentpage ol{
list-style-type: decimal;
margin: 0 0 20px 30px;
}
.contentpage table{
margin: 0 0 20px 0;
}
.contentpage table td, .contentpage table th{
padding: 10px;
}

/* post */
.posts{
width: 778px;
padding: 0 0 15px 0;
margin: 0 0 20px 0;
border-bottom: 1px solid #e5eaed;
}
    .rposts{
	position: relative;
	}
	.act .rposts{
	padding: 0 0 0 190px;
	min-height: 180px;
	}
	.lposts{
	position: absolute;
	float: none;
	top: 3px;
	left: 0;
	width: 170px;
	height: 170px;
	overflow: hidden;
	}
	    .lposts img{
		width: 170px;
		height: 170px;
		}
		.the_title_posts{
		position: relative;
		font: 16px Arial;
		margin: 0 0 10px 0;
		}
		    .the_title_posts a{
			text-decoration: none;
			}
		.the_date_posts{
		color: #3d4042;
		font: italic 12px Arial;
		padding: 0 0 10px 0;
		}
		.colorqw{
		color: #6a6e71;
		}
		.colorqw p{
		padding: 0 0 15px;
		margin: 0;
		}
		.the_more{
		position: absolute;
		float: none;
		right: 0;
		bottom: 0;
		font: italic 12px Arial;
		background: url(images/arr.png) no-repeat right 5px;
		text-align: right;
		padding: 0 15px 0 0;
		}
/* single */
.single{
padding: 10px 0 20px 0;
}
	
/* comments */
    #comments{
    margin: 0 0 15px 0;
	padding: 15px;
	border-top: 3px solid #a0b8c5;
	border-bottom: 3px solid #a0b8c5;
    border-right: 1px solid #e5eaed;
    border-left: 1px solid #e5eaed;
    border-radius: 5px;
    }
#respond{
border-top: 1px solid #e5eaed;
border-bottom: 1px solid #e5eaed;
padding: 20px 0;
}
    .addcomment{
	color: #006ccf;
	font: 20px Arial;
	padding: 0 0 20px 0;
	float: left;
	}
	.cinput{
	font: 12px Arial;
	color: #000;
	padding: 5px 5px;
	border: 1px solid #a0b8c5;
	border-radius: 5px;
	width: 260px;
	}
	.ctextarea{
	font: 12px Arial;
	color: #000;
	padding: 5px 5px;
	border: 1px solid #a0b8c5;
	border-radius: 5px;
    width: 460px;
	min-width: 460px;
	max-width: 460px;
    height: 100px;
    min-height: 100px;
    max-height: 100px;	
	}
	#respond table td{
	padding: 5px 5px 5px 0;
	vertical-align: middle;
	}
	.navigation{
	padding: 10px 0;
	}
	    .previous{
		float: left;
		width: 49%;
		}
		.next{
		float: right;
		width: 49%;
		text-align: right;
		}
		.commentlink a{
		position: absolute;
		float: none;
		bottom: 15px;
		right: 0;
		display: block;
		color: #0072af;
		width: 120px;
		text-decoration: underline;
		font: italic 13px Arial;
		background: url(images/arrbÑ.png) no-repeat 0 0;
		padding: 2px 0 0 35px;		
		}
		    .commentlink a:hover{
			color: #ff0000;
			}
		#cancel-comment-reply-link{
		float: left;
		margin: 4px 0 0 10px;
		}
		.commentlist > li{
		position: relative;
		padding: 0 0 35px 0;
		}
	    .oneotz{
		background: #fff8db;
		border-radius: 5px;
		margin: 0 0 15px 0;
		padding: 10px 10px 5px 10px;
		color: #6a6e71;
		font: italic 12px Arial;
		}
			.oneotz.second{
			background: url(images/arry.png) no-repeat 15px 0;
			padding: 2px 0 0 50px;
			}
			.onotdate{
		    margin: 0 0 0 0;
		    color: #3d4042;
		    }
		    .onotdatec{
			margin: 0 0 0 10px;
			color: #0072af;
			}	
			.comcontent{
			padding: 5px 0;
			}
			.comcontent p{
			margin: 5px 0;
			}
			    .oneotz.second .comcontent{
				border-bottom: 1px solid #e5eaed;
				}			
/* end comments */
	
/* pagenavi */
.pagenavi{
margin: 10px 0 20px 0;
text-align: center;
}
    .pagenavi a, .pagenavi span{
	margin: 0 5px;
	}

#sidebar{
position: relative;
z-index: 5;
float: right;
width: 300px;
}

/* sidebar */
.widget{
width: 300px;
margin: 0 0 30px 0;
}
    .widget_title{
    background: #f0f3f5;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#e8edef));
    background: -moz-linear-gradient(#fff, #e8edef);
    background: -o-linear-gradient(top,  #fff,  #e8edef);
    padding: 8px 20px;
	color: #09344b;
    text-shadow: 1px 1px 1px #fff;
	margin: 0 0 10px 0;
    border-top: 3px solid #a0b7c5;
    border-right: 1px solid #e3e8ea;
    border-bottom: 1px solid #9aabb4;
    border-left: 1px solid #ccd5da;
    border-radius: 7px;
	font: bold 13px Arial;
	}
	.widget ul{
	padding: 15px 20px;
    border-top: 3px solid #a0b7c5;
    border-right: 1px solid #e5eaed;
    border-bottom: 3px solid #a0b7c5;
    border-left: 1px solid #e5eaed;
    border-radius: 7px;	
	font: 12px Arial;
	color: #000;	
	}
		.widget ul li{
		display: block;
		margin: 5px 0;
		background: url(images/liarr.png) no-repeat 0 5px;
		padding: 0 0 0 15px;
		}
		.widget a{
		color: #0072b0;
		text-decoration: underline;
		}
		    .widget a:hover{
		    color: #ff0000;
		    text-decoration: underline;
		    }
.searchform{
position: relative;
width: 300px;
height: 35px;
margin: 0 0 30px 0;
border-top: 1px solid #b7c8d1;
border-right: 1px solid #d4dee3;
border-bottom: 1px solid #f2f5f7;
border-left: 1px solid #d4dee3;
border-radius: 7px;
background: #e5e6e8;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e5e6e8), to(#fff));
background: -moz-linear-gradient(#e5e6e8, #fff);
background: -o-linear-gradient(top,  #e5e6e8,  #fff);
}
    .submit{
	width: 84px;
	height: 31px;
	cursor: pointer;
	border: none;
	background: url(images/search.png) no-repeat;
	position: absolute;
	float: none;
	top: 2px;
	right: 2px;
	text-indent: -9999px;
	}
	.input{
	width: 190px;
	height: 31px;
	border: none;
	background: none;
	position: absolute;
	float: none;
	top: 2px;
	left: 12px;
    color: #3d4042;
    font: 12px/31px Arial;	
	}			
/* end sidebar */

/* footer */
#footer{
color: #fff;
height: 48px;
background: url(images/fbg.png) repeat;
border-radius: 7px;
font: 12px Arial;
margin: 30px 0 30px 0;
}
    #footer a{ color: #fff; }
    #footer a:hover{ text-decoration: none; color: #fff; }
	.fleft{
	float: left;
	width: 450px;
	padding: 15px 0 0 20px;
	height: 33px;
	}
	.fright{
	float: right;
	width: 600px;
	padding: 15px 20px 0 0;
	text-align: right;
	}
	    .fright ul li{
		display: inline;
		margin: 0 10px 0 20px;
		}
/* end footer */

/* cap */
.capz{
width: 100%;
height: 100%;
background: #fff;
position: fixed;
top: 0;
left: 0;
z-index: 99999;
color: #333;
}
    .cap {
    padding: 0 0 0 130px;
    margin: 160px auto 0;
    width: 300px;
    min-height: 90px;
    background: url(images/cap.png) no-repeat 0 10px;
    }
    .captitle {font: 33px Arial;}

/* classed */
.clear{clear: both;}
img.alignright {float:right; margin:0 0 2em 1em}
img.alignleft {float:left; margin:0 2em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 2em}
a img.alignleft {float:left; margin:0 2em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

/* -------------------- Contact Form 7 -------------------- */

.wpcf7-text{
    background: #fff;
	border: 1px solid #d0d0d0;
	padding: 3px 5px;
	margin: 3px 0 5px 0;
    color: #555;
	font-size: 13px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.wpcf7-textarea{
    background: #fff;
	border: 1px solid #d0d0d0;
	margin: 3px 0 0 0;
	padding: 5px;
	color: #555;
	font-size:13px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.wpcf7-submit{
    background: #e9e9e9;
	border: none;
	border-bottom: 2px solid #d5d5d5;
	color: #666;
	text-shadow: 1px 1px 0 #f4f4f4;
	cursor: pointer;
	font-size: 13px;
	margin: 15px 0 0 0;
	padding: 3px 10px 3px 10px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}